body {
    background-color: #a9d7e9;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.form-div {
    margin: auto;
    width: 800px;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
}

p {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}

.form-rows {
    position: static;
    display: block;
}

.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    /* vertical-align: top; */
    margin-top: 10px;
}

.fields {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    text-align: left;
}

input[type="text"] {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

input[type="email"] {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

input[type="number"] {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

textarea {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

select {
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 15px 10px 10px 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

.user-selection {
    float: left;
    margin-right: 5px;
}

.radio {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
}

.button {
    /* position: absolute; */
    background-color: #6ba2ce;
    color: white;
    border: 0px solid;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    margin: 10px;
    margin: 0 100px 0 auto;
}